@tailwind base;
@tailwind components;
@tailwind utilities;

/*! fonts  */
@font-face {
  font-family: 'ISBold';
  src: url('/fonts/iransans/IRANSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IS';
  src: url('/fonts/iransans/IRANSans.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ISBlack';
  src: url('/fonts/iransans/IRANSans-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ISLight';
  src: url('/fonts/iransans/IRANSans-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ISMedium';
  src: url('/fonts/iransans/IRANSans-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ISUltraLight';
  src: url('/fonts/iransans/IRANSans-UltraLight.woff2') format('woff2');
  font-display: swap;
}

/*! global styles */

* {
  font-family: 'IS';
}

/*! flight search seperator */
.seperator {
  position: relative;
}

.seperator::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #EDEDED;
  position: absolute;
  bottom: 0px;
  border-radius: 100px
}

